section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    
}


img {
    height: 400px;
    width: 400px;
}

p {
    font-size: 3rem;
    font-weight: bolder;
    font-style: italic;
    text-decoration: overline;
    color: white;
}

button {
    display: none;
}